/*Le he dado un poco de color y forma a los botones, 
centrado todo para que se vea asimetrico, inicialmente me inspire en la de 
apple, la del iphone concretamente, pero la modifique para que se viera diferente.*/
.container{
background-color: rgb(102, 73, 12);
width: 275px;
height: 300px;
border-radius: 10px;
}

.screen {
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    height: 50px;
    width: 190px;
    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-family: 'Orbitron', sans-serif;
    color:white;
    font-size: 20px;
}

.keys {
    width: 300px;
}

.btn{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    margin-left: 5px;
    width: 60px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 5px;
}
.operator {
    color: rgb(255, 255, 255);
    background-color: rgb(245, 188, 2);
    border-radius: 25%;
    width: 60px;
    height: 40px;
    margin-left: 5px;
    font-size: 20px;
    margin-bottom: 5px;
}
#C{
    color: rgb(255, 255, 255);
    background-color: rgb(250, 0, 0);
    border-radius: 25%;
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}